{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}

{% if param_message %}
    <div id="params" class="params">
        <h3>{{ param_message}}</h3>
    </div>
    
{% endif %}


{% endblock %}
